.settings-page {
	& > .container > .row > .col,
	& > .container > .row > [class*='col-'] {
		@include media-breakpoint-down(sm) {
			padding-right: 20px;
			padding-left: 20px;
		}
	}
	.tabs-group {
		border-bottom: 1px solid #d5dce0;
		.tab-item {
			padding: 25px 7px 23px;
			margin-left: 24px;
			text-decoration: none;
			font-weight: normal;
			line-height: 11px;
			color: #667075;
			&:hover {
				color: #1a1d1f !important;
			}
			i {
				color: #0459c4;
				margin-right: 8px;
			}
			&.active {
				color: #1a1d1f;
				border-bottom: 2px solid #0459c4;
			}
		}
	}
	.account-settings-menu {
		border-bottom: 1px solid #d5dce0;
		position: relative;
		.dropdown-toggle {
			width: 100%;
			font-weight: 600;
			line-height: 13px;
			font-size: 18px;
			color: #1a1d1f;
			text-align: left;
			padding: 16px 26px;
			margin: 9px 0;
			position: relative;
			i {
				font-weight: normal;
				color: #0459c4;
				&.fa-cog {
					margin-right: 8px;
				}
				&.fa-angle-down {
					margin-left: auto;
					position: absolute;
					right: 26px;
				}
			}
			&::after {
				content: none;
			}
			&:hover {
				color: #1a1d1f;
			}
		}
		.dropdown-menu {
			margin-top: 0;
			width: 87%;
			width: calc(100% - 48px);
			background: #ffffff;
			box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.13);
			border-radius: 3px;
			padding: 8px 0;
			margin: 0 24px;
			.dropdown-item {
				font-weight: normal;
				line-height: 12px;
				font-size: 16px;
				color: #1a1d1f;
				padding: 18px 16px;
				cursor: pointer;
				&:hover,
				&:focus,
				&:active {
					background: #f0f3f5;
				}
			}
		}
	}
	.verification-status {
		.beta-user {
			display: inline-block;
			font-weight: 600;
			line-height: 10px;
			font-size: 14px;
			color: #0459c4;
			padding: 6px 9px;
			background: #f0f3f5;
			border-radius: 3px;
		}
	}
	.settings-list {
		.setting-wrapper {
			padding: 48px 32px 41px;
			border-bottom: 1px solid #d5dce0;
			@include media-breakpoint-down(sm) {
				padding: 32px 26px;
			}
			&:hover {
				background: #f0f3f5;
				.verification-status {
					.beta-user {
						background: #e8e8e8;
					}
				}
			}
			&:last-child {
				border: none;
			}
			.setting-name {
				margin: 0 0 16px;
				font-weight: 600;
				line-height: 12px;
				font-size: 16px;
				color: #1a1d1f;
				img {
					margin-left: 7px;
				}
			}
			p {
				margin: 0;
				line-height: 11px;
				color: #667075;
			}
			.btn-setting {
				font-weight: 600;
				line-height: 10px;
				font-size: 14px;
				color: #0459c4;
				border: 1px solid #0459c4;
				border-radius: 3px;
				display: inline-block;
				width: 178px;
				text-align: center;
				padding: 14px 0 15px;
				cursor: pointer;
				&:hover {
					text-decoration: none;
				}
				&.text-danger {
					color: #d7263d;
					border: 1px solid #d7263d;
				}
				&.disabled {
					color: #667075 !important;
					border: 1px solid #667075;
					cursor: not-allowed;
					opacity: 0.7;
				}
				@include media-breakpoint-down(sm) {
					width: 100%;
				}
			}
			.link-setting {
				color: #b0b9bd;
				margin-left: 8px;
				cursor: pointer;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.transaction-limits {
		padding: 32px 31px 35px;
		@include media-breakpoint-down(sm) {
			padding: 32px 26px;
		}
		.heading {
			font-weight: 600;
			line-height: 12px;
			font-size: 16px;
			color: #1a1d1f;
			margin-bottom: 12px;
		}
		.limit-card {
			background: #f0f3f5;
			box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
				0px 1px 2px rgba(0, 0, 0, 0.24);
			border-radius: 3px;
			width: 378px;
			padding: 32px;
			margin-bottom: 18px;
			@include media-breakpoint-down(sm) {
				width: 100%;
				padding: 24px;
				margin-bottom: 16px;
			}
			.limit-label,
			.limit-value {
				font-weight: 600;
				line-height: 12px;
				font-size: 16px;
				color: #1a1d1f;
				margin: 0;
			}
			.limit-bar {
				margin-top: 18px;
				background: #b0b9bd;
				height: 4px;
				.limit-progress {
					height: 100%;
					width: 0;
					background: #0459c4;
				}
			}
		}
		.link-setting {
			color: #b0b9bd;
			margin-left: 8px;
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}
		.coming-soon {
			font-weight: normal;
			line-height: normal;
			font-size: 14px;
			color: #667075;
			margin: 0;
		}
	}
	.bank-accounts {
		padding: 32px 32px 20px;
		@include media-breakpoint-down(sm) {
			padding: 32px 24px 12px;
		}
		.heading {
			font-weight: 600;
			line-height: 12px;
			font-size: 16px;
			color: #1a1d1f;
			margin-bottom: 24px;
		}
		.add-account-link {
			color: #0459c4;
			font-weight: 600;
			line-height: 12px;
			font-size: 16px;
			cursor: pointer;
			display: flex;
			&:hover {
				color: #0459c4;
			}
			i {
				margin-left: 8px;
				height: 18px;
				margin-top: -2px;
			}
		}
		.accounts-list {
			.row {
				margin-left: -16px;
				margin-right: -16px;
				[class*='col-'] {
					padding-right: 16px;
					padding-left: 16px;
				}
			}
			.account-card {
				* {
					color: #ffffff;
				}
				margin-bottom: 16px;
				background: #7433ff;
				border-radius: 3px;
				padding: 25px 32px 24px 24px;
				.field-label {
					font-weight: 600;
					line-height: 10px;
					font-size: 14px;
					margin-bottom: 8px;
				}
				.field-value {
					font-weight: normal;
					line-height: 11px;
					font-size: 16px;
					margin: 0;
				}
				.edit-account-link {
					display: block;
					font-weight: 600;
					line-height: 10px;
					font-size: 14px;
					cursor: pointer;
				}
				br {
					line-height: 40px;
				}
			}
		}
	}
	.privacy {
		.setting-group {
			padding: 32px 32px 35px;
			@include media-breakpoint-down(sm) {
				padding: 32px 25px 32px;
			}
			.heading {
				font-weight: 600;
				line-height: 12px;
				font-size: 16px;
				color: #1a1d1f;
				margin-bottom: 24px;
			}
			.notification-setting {
				padding: 22px 24px;
				width: 100%;
				background: #f0f3f5;
				box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
					0px 1px 2px rgba(0, 0, 0, 0.24);
				border-radius: 3px;
				margin-bottom: 24px;
				line-height: 20px;
				font-size: 16px;
				color: #1a1d1f;
				position: relative;
				@include media-breakpoint-down(sm) {
					margin-bottom: 16px;
				}
				&:last-child {
					margin-bottom: 15px;
				}
				input {
					visibility: hidden;
				}
				input + span {
					&::after {
						content: '\f00c';
						font-family: 'Font Awesome 5 Pro';
						background: #b0b9bd;
						border-radius: 3px;
						color: white;
						padding: 1px 4px;
						font-size: 0.75rem;
						position: absolute;
						right: 24px;
						height: 20px;
						visibility: visible;
						cursor: pointer;
					}
				}
				input {
					&:checked + span {
						&::after {
							background: #045cc7;
						}
					}
				}
				.setting-name {
					font-weight: 600;
				}
			}
			.tc-stat {
				font-weight: normal;
				line-height: normal;
				font-size: 14px;
				color: #667075;
				margin: 0;
				@include media-breakpoint-down(sm) {
					line-height: 23px;
				}
			}
			.saved {
				font-weight: 600;
				line-height: 10px;
				font-size: 14px;
				color: #0459c4;
			}
		}
		.setting-wrapper {
			padding: 40px 32px;
			@include media-breakpoint-down(sm) {
				padding: 32px 24px;
			}
			.setting-name {
				margin: 0 0 16px;
				font-weight: 600;
				line-height: 12px;
				font-size: 16px;
				color: #1a1d1f;
				img {
					margin-left: 7px;
				}
			}
			p {
				margin: 0;
				line-height: 11px;
				color: #667075;
				white-space: nowrap;
			}
			.btn-setting {
				font-weight: 600;
				line-height: 10px;
				font-size: 14px;
				color: #0459c4;
				border: 1px solid #0459c4;
				border-radius: 3px;
				display: inline-block;
				width: 178px;
				text-align: center;
				padding: 14px 0 15px;
				cursor: pointer;
				&.text-danger {
					color: #d7263d;
					border: 1px solid #d7263d;
				}
				@include media-breakpoint-down(sm) {
					width: 100%;
					padding: 18px 0;
				}
			}
		}
	}
	.dashboard-container {
		@include media-breakpoint-down(sm) {
			margin-bottom: 20px;
		}
	}
	.bottom-bar {
		position: initial;
		@include media-breakpoint-down(sm) {
			position: initial;
		}
	}
}
.modal-account-settings {
	animation: modal-enter 0.5s;
	@include media-breakpoint-up(md) {
		max-width: 434px;
	}
	.modal-content {
		border-radius: 3px;
		.modal-body {
			padding: 25px 30px 32px;
			@include media-breakpoint-down(sm) {
				padding: 24px;
			}
			.close {
				color: #0459c4;
				opacity: 1;
				line-height: 14px;
			}
			hr {
				margin: 0 -30px;
			}
			.modal-heading {
				font-weight: 600;
				line-height: 14px;
				font-size: 18px;
				color: #1a1d1f;
				margin-bottom: 25px;
			}
			.modal-message {
				font-weight: normal;
				line-height: 31px;
				font-size: 16px;
				color: #667075;
				margin-bottom: 14px;
				margin-top: 26px;
				.semi {
					font-weight: 600;
					color: #1a1d1f;
				}
			}
			form {
				.field-wrapper {
					margin-top: 32px;
					.field-label {
						display: block;
						font-weight: 600;
						line-height: 10px;
						font-size: 14px;
						color: #1a1d1f;
						margin-bottom: 13px;
					}
					input {
						border: 1px solid #b0b9bd;
						border-radius: 3px;
						font-weight: 600;
						line-height: 12px;
						font-size: 16px;
						color: #1a1d1f;
						&:active,
						&:focus {
							border: 1px solid #045cc7;
							box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
						}
						@include placeholder {
							color: #b0b9bd;
						}
						&[type='password'] {
							letter-spacing: 0.2rem;
						}
						&[name='password'] {
							@include placeholder {
								letter-spacing: 0.2rem;
							}
						}
						&:disabled {
							color: #515c61;
							background: #f0f3f5;
							border: none;
						}
					}
					&.invalid {
						.field-label {
							color: #d7263d;
						}
						input {
							border: 1px solid #d7263d;
						}
					}
					&.edit {
						position: relative;
						&::after {
							content: 'edit';
							position: absolute;
							top: 30px;
							right: 12px;
						}
					}
				}

				.typing-validator {
					position: absolute;
					left: 1px;
					right: 1px;
					bottom: 1px;
					overflow: hidden;
					height: 0px;
					transition: height 300ms;
					& > div {
						height: 38px;
						background: #f0f4f7;
						border-bottom-right-radius: 3px;
						border-bottom-left-radius: 3px;
						padding: 5px 10px;
						color: #a9b3bb;
						transition: background 250ms, color 250ms;
					}
				}
				input[type='password'].password {
					height: 48px;
					padding-top: 12px;
					padding-bottom: 12px;
					margin: 0;
					transition: all 0.4s;
					&:focus {
						padding-top: 12px;
						padding-bottom: 50px;
						height: 86px;
						border: 1px solid #045cc7;
						box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
					}
					&:focus + .typing-validator {
						height: 38px;
					}
				}

				.field-wrapper.valid {
					input[type='password'].password {
						padding-top: 12px;
						padding-bottom: 50px;
						height: 86px;
						border: 1px solid #2ed06e;
					}
					.typing-validator {
						height: 38px;
						& > div {
							background: #d6f5e2;
							color: #2ed06e;
						}
					}
				}
				.field-wrapper.invalid {
					& > label {
						color: #d7263d;
					}
					input[type='password'].password {
						padding-top: 12px;
						padding-bottom: 50px;
						height: 86px;
						border: 1px solid #d7263d;
					}
					.typing-validator {
						height: 38px;
						& > div {
							background: rgba(246, 16, 16, 0.09);
							color: #d7263d;
						}
					}
				}

				.btn {
					font-weight: 600;
					line-height: 12px;
					font-size: 16px;
					padding-top: 17px;
					padding-bottom: 17px;
					border-radius: 3px;
					&:hover,
					&:focus,
					&:active {
						box-shadow: none;
					}
					&:disabled {
						border: none;
						background-color: #b0b9bd;
					}
				}
			}
		}
	}
}
