.transaction-tracker-wrapper {
	.card-tracking {
		background: #fff;
		border: 1px solid #b0b9bd;
		border-radius: 3px;
		font-weight: 600;
		line-height: 22px;
		font-size: 16px;
		color: #1a1d1f;
		padding: 21px 24px;
		width: 100%;
		margin-bottom: 0;
		&.sent,
		&.in-progress {
			border: 1px solid #0459c4;
			box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
				0px 1px 2px rgba(0, 0, 0, 0.24);
			i {
				color: #045cc7;
			}
		}
		&.error {
			border: 1px solid #d7263d;
			box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
				0px 1px 2px rgba(0, 0, 0, 0.24);
			i {
				color: #d7263d;
			}
		}
		&.disabled {
			color: #b0b9bd;
			i {
				color: #b0b9bd;
			}
		}
		.transaction-time {
			color: #667075;
			font-weight: normal;
		}
	}
	.coin-sent-wrapper {
		background: #fff;
		border: 1px solid #b0b9bd;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
		.card-tracking {
			border: none;
			border-bottom: 1px solid #d5dce0;
			box-shadow: none;
		}
		&.sent {
			border: 1px solid #0459c4;
			i {
				color: #0459c4;
			}
		}
		&.error {
			border: 1px solid #d7263d;
			i {
				color: #d7263d;
			}
		}
		.description {
			line-height: 29px;
			font-size: 16px;
			padding: 16px 22px;
			color: #667075;
			text-align: left;
		}
		.btn-follow-blockchain {
			background: linear-gradient(90deg, #0459c4 0%, #0575e6 100%);
			font-weight: 600;
			line-height: 12px;
			font-size: 16px;
			color: #fff;
			padding: 18px;
			display: block;
			text-decoration: none;
			i {
				padding-right: 8px;
				color: #fff;
			}
		}
		&.error {
			.btn-follow-blockchain {
				background: #d7263d;
			}
		}
		&.disabled {
			box-shadow: none;
			i {
				color: #b0b9bd;
			}
		}
		&.in-progress {
			border: 1px solid #0459c4;
			box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
				0px 1px 2px rgba(0, 0, 0, 0.24);
		}
	}
	.cancel-transaction-link {
		color: #667075;
		a {
			color: #d80027;
			font-weight: 600;
		}
	}
	@include media-breakpoint-down(md) {
		margin-top: 80px;
	}
}
